@layer reset, base, tokens, recipes, utilities;

:root {
  --background: var(--colors-indigo-3);
  --foreground: var(--colors-indigo-12);
}

html {
  font-family: 'Nunito', sans-serif;
  scroll-behavior: smooth;
}
body {
  color: var(--foreground);
}

p {
  margin-bottom: 16px;
}

ul > li {
  display: list-item;
  list-style-type: ">";
  list-style-position: inside;
}

a:hover {
  color: var(--colors-indigo-10);
}